{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}
{% load crispy_forms_tags %}
<br>
<div class="card container-fluid">
    <div class="card-body">
            <h3 class="text-center">Nuestras Accesorios disponibles</h3>
                <div>
                  <form method="get">
                    <div class="input-group mb-3">
                      <input type="text" class="form-control" placeholder="Escribe aqui para buscar" name="buscar">
                      <button class="btn btn-outline-success" type="submit" id="button-addon2">Buscar</button>
                    </div>
                  </form>
                </div>
          <div class="row">
                <table class="table table-hover table-responsive-sm">
                      <thead class="table-dark">
                        <tr>
                          <td>Imagen</td>
                          <td>Marca Producto</td>
                          <td>Codigo Producto</td>
                          <td>Nombre Producto</td>
                          <td>Valor Producto</td>
                          
                        </tr>
                      </thead>
                      {% for pro in productos %}
                        <tr>
                          <td><img src="{% static 'core/img/guitarra1.jpg' %}" alt="guitarra"></td>
                          <td>{{pro.marca}}</td>
                          <td>{{pro.codigo}}</td>
                          <td>{{pro.nombre}}</td>
                          <td>{{pro.valor}}</td>
                        </tr>
                      {% endfor %}
                </table>
                <hr>
                <div>
                {% include 'core/paginator_prod.html' %}
                </div>
          </div>
    </div>
</div>
{% endblock %}