{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}
{% load crispy_forms_tags %}
<br>
<div class="card container-fluid">
    <div class="card-body">
            <h3 class="text-center">Nuestras Guitarras</h3>
                <div>
                  <form method="get">
                    <div class="input-group mb-3">
                      <input type="text" class="form-control" placeholder="Escribe aqui para buscar" name="buscar">
                      <button class="btn btn-outline-success" type="submit" id="button-addon2">Buscar</button>
                    </div>
                  </form>
                </div>
          <div class="row">
            {% for pro in productos %}
                <table class="table table-hover table-responsive-sm">
                      <thead class="table-dark">
                        <tr>
                          <td>Imagen</td>
                          <td>Marca Producto</td>
                          <td>Nombre Producto</td>
                          <td>Codigo Producto</td>
                          <td>Valor Producto</td>
                          <td>Comprar Producto</td>
                        </tr>
                      </thead>
                        <tr>
                          <td><img src="{% static 'core/img/guitarra1.jpg' %}" alt="guitarra"></td>
                          <td>{{pro.marca}}</td>
                          <td>{{pro.nombre}}</td>
                          <td>KDU: {{pro.codigo}}</td>
                          <td>$ {{pro.valor}}</td> 
                          <td>
                            <br>
                            <form action="{{ response.url }}" method="POST">
                            <input type="hidden" name="token_ws" value="{{ response.token }}">
                            <input class="btn btn-outline-success btn-sm" type="submit" value="Ejecutar Pago con Webpay">
                            </form>
                            <br>
                          </td>
                        </tr>
              {% endfor %}
                </table>
                <hr>
                <div>
                {% include 'core/paginator_prod.html' %}
                </div>
          </div>
    </div>
</div>
{% endblock %}

 
    

