{% extends 'core/base.html' %}

{% load static %}

{% block css %}
<link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/carousel/">

{% endblock %}  
<link href="{% static 'core/css/carousel.css' %}" rel="stylesheet">

{% block contenido %}
{% load crispy_forms_tags %}

<div class="container">
    <div class="row">
      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <a href="{% url 'register' %}"><img src="{% static 'core/img/CARRUSEL_1.png' %}" class="d-block w-100" alt="imagen1"></a>
            <div class="carousel-caption d-none d-md-block">
                <h5>¡CREA TU CUENTA!</h5>
                <p>Crea tu cuenta 100% Gratis</p>
              </div> 
        </div>
          <div class="carousel-item">
            <a href="{% url 'guitarras' %}"><img src="{% static 'core/img/CARRUSEL_2.jpg' %}" class="d-block w-100" alt="imagen2"></a>
            <div class="carousel-caption d-none d-md-block">
                <h5>CONOCE NUESTROS PRODUCTOS</h5>
                <p>Visita nuestros productos y ve cual se ajusta a tu perfil.</p>
              </div>
        </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
{% endblock %}